
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
   @apply font-family: "Karla", sans-serif
}
.active {
        @apply bg-orange-300 text-white ro shadow-md;
}

 @keyframes fadeIn {
      from { opacity: 0; transform: translateY(10px); }
      to { opacity: 1; transform: translateY(0); }
    }
    @keyframes slideUp {
      from { opacity: 0; transform: translateY(20px); }
      to { opacity: 1; transform: translateY(0); }
    }
    .animate-fadeIn { animation: fadeIn 0.8s ease-in-out; }
    .animate-slideUp { animation: slideUp 0.8s ease-in-out; }
  

        
        
 .notification-dot {
            position: absolute;
            top: -5px;
            right: -5px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #ef4444;
            color: white;
            font-size: 0.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
   .tab-button.tab-active {
            border-bottom: 3px solid #f97316;
            color: #f97316;
            font-weight: bold;
        }